@import url(/fonts.css);

/***** Resets *****/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Vazirmatn RD";
  font-feature-settings: "ss01";
}

a {
  text-decoration: none;
}

/***** Root *****/

:root {
  /*** colors ***/
  --color-primary: #cc312d;
  --color-secondary-900: #1a1814;
  --color-secondary-800: #14141466;
  --color-secondary-700: #e6e6e6;
  --color-secondary-600: #f7f7f7;
  --color-secondary-500: #e5303f1a;
  --color-white: #ffffff;
  /*** border-radius ***/
  --radius-sm: 1.2rem;
  --radius-md: 1.6rem;
  --radius-lg: 2rem;
  --radius-xl: 4rem;
  --radius-xxl: 4.4rem;
}

/***** Body *****/

body {
  line-height: 1.6;
  font-size: 1.4rem;
}

/***** Badges *****/

.badges {
  background-color: var(--color-white);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.badge-secondary {
  font-size: 1.4rem;
  border: 1.5px solid var(--color-secondary-700);
  background-color: var(--color-secondary-600);
}

.shopping-cart-badge p {
  color: var(--color-primary);
  border-radius: var(--radius-lg);
  background-color: var(--color-secondary-500);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  width: fit-content;
  font-weight: 600;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .badges {
    width: 40px;
    height: 40px;
  }
  .badge-secondary {
    font-size: 1.6rem;
  }
  .shopping-cart-badge p {
    font-size: 1.4rem;
    padding: 1rem;
  }
}

/***** Inputs *****/

.inputs {
  border: 1px solid var(--color-secondary-600);
  background-color: var(--color-secondary-600);
  border-radius: var(--radius-xl);
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1rem;
  width: 100%;
  margin: 1rem;
}

.inputs:hover {
  border: 1.5px solid var(--color-primary);
}

.inputs:focus {
  border: 2px solid var(--color-primary);
  outline: none;
}

.location-input {
  appearance: none;
  background-image: url(/asset/images/Vector\ 140.svg);
  background-repeat: no-repeat;
  background-position: left 10px center;
  width: 100%;
}

/***** Container *****/

.container {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
}

.content-box {
  border: 1.5px solid var(--color-secondary-700);
  border-radius: var(--radius-lg);
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
  gap: 2.5rem;
  margin: 2rem auto;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .content-box {
    grid-template-columns: 7fr 3fr;
  }
}

.border {
  border: 1px solid var(--color-secondary-700);
  margin: 1.5rem 0;
}

/******** First-Section ********/

/***** User-Info-Box *****/

/***** User *****/

.form__info {
  padding: 0 1.5rem;
}

.user__info__title {
  font-weight: 700;
  font-size: 2.2rem;
  margin: 1rem;
}

.user__info__title span {
  font-weight: 400;
}

.recipient__info__title {
  font-weight: 700;
  font-size: 1.6rem;
  margin: 2rem 0;
}

.info-details label {
  font-weight: 400;
  font-size: 1.4rem;
}

/***** Address *****/

.address__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.delivery-address {
  font-weight: 700;
  font-size: 1.4rem;
}

.select-address {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.select-address a {
  display: flex;
  align-items: center;
  width: 1rem;
}

.select-address-text {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--color-primary);
}

.postal-address {
  margin: 1.5rem 0;
}

.input-address {
  border-radius: 1.2rem;
  height: 10rem;
}

/***** Delivery *****/

.delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery__method__title {
  font-weight: 500;
  font-size: 1.3rem;
}

.delivery__method__title span {
  font-weight: 400;
  font-size: 1rem;
}

.delivery__method__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--color-secondary-600);
  background-color: var(--color-secondary-600);
  border-radius: var(--radius-xl);
  padding: 1rem;
  width: 100%;
  margin: 1rem;
}

.delivery__method__box:hover {
  border: 1.5px solid var(--color-primary);
  background-color: var(--color-white);
}

.delivery__method {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
}

.delivery__method__box input[type="checkbox"] {
  accent-color: var(--color-primary);
  cursor: pointer;
}

.delivery__method p {
  font-weight: 600;
  font-size: 1.4rem;
}

.delivery__price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.delivery__price .price__number {
  font-size: 1.6rem;
  font-weight: 600;
}

.delivery__price .price__type {
  font-size: 1.2rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .info-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.8rem;
  }

  .info-details.deliver-detail {
    grid-template-columns: 1fr;
  }

  .delivery-address {
    font-weight: 700;
    font-size: 1.6rem;
  }

  .select-address a {
    width: 2rem;
  }

  .select-address-text {
    font-weight: 600;
    font-size: 1.4rem;
  }

  .postal-address {
    grid-column: 1/-1;
  }

  .delivery__method__title {
    font-weight: 500;
    font-size: 2rem;
  }

  .delivery__method__title span {
    font-weight: 400;
    font-size: 1.8rem;
  }

  .delivery__method__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .info-details.deliver-detail {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .delivery__method__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1124px) {
  .delivery__method__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .info-details.deliver-detail {
    grid-template-columns: 1fr 1fr;
  }
}

/******** Second-Section ********/

/**** Purchase-Info-Box ****/

.purchase-info-box {
  background-color: var(--color-secondary-600);
  border-radius: var(--radius-md);
  padding: 2rem;
  height: auto;
}

.purchase__info__title {
  font-weight: 700;
  font-size: 2.2rem;
}

.purchase__info__title span {
  font-weight: 400;
}

.purchase__detail {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: var(--radius-sm);
  width: 12rem;
  aspect-ratio: 1/1;
  justify-self: center;
}

.product-image img {
  width: 9rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.english__product__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.english__name,
.persian__name {
  font-weight: 700;
  font-size: 1.2rem;
}

.product__volume {
  font-weight: 600;
  font-size: 1.8;
}

.product__volume span {
  font-weight: 400;
  color: var(--color-secondary-800);
}

.product__price {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 600;
  font-size: 1.4rem;
}

.product__price span {
  font-weight: 400;
  font-size: 1rem;
}

.product__price__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

.product__quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/***** purchase-summary *****/

.purchase-summary-box {
  background-color: var(--color-white);
  border-radius: var(--radius-sm);
  padding: 1rem;
  margin: 1.5rem 0;
}

.purchase__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary__title {
  font-weight: 400;
  font-size: 1.4rem;
}

.summary__amount {
  color: var(--color-secondary-800);
  font-weight: 400;
  font-size: 1.6rem;
}

.summary__amount span {
  font-size: 1.2rem;
}

.purchase__amount__payable {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.purchase-amount-title {
  font-weight: 600;
  font-size: 1.2rem;
}

.purchase-total-amount {
  font-weight: 600;
  font-size: 1.6rem;
}

.purchase-total-amount span {
  font-weight: 400;
  font-size: 1rem;
}

.zibal-payment-gate {
  background-color: var(--color-white);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;
}

.logo {
  background-color: #ebb81140;
  width: 48px;
  aspect-ratio: 1/1;
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
}

.zibal__payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
}

.zibal__payment span {
  font-weight: 600;
}

.purchase-btn {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: var(--radius-xxl);
  padding: 1rem 2rem;
  width: 100%;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-white);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .purchase__detail {
    grid-template-columns: auto 1fr;
  }

  .english__name,
  .persian__name {
    font-size: 1.4rem;
  }

  .product__price {
    font-size: 1.8rem;
  }

  .purchase-amount-title {
    font-size: 1.4rem;
  }

  .purchase-total-amount {
    font-size: 2rem;
  }

  .purchase-total-amount span {
    font-size: 1.2rem;
  }

  .zibal-payment-gate {
    justify-content: start;
    flex-direction: row;
  }

  .zibal__payment {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
  }

  .purchase-btn {
    font-size: 1.6rem;
  }
}
